/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 15px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navbar-links li a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.navbar-links li a:hover {
    color: #3498db;
}
