/* src/frontend/styles/NavBar.css */
.navbar {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    color: white;
}

.navbar-logo {
    margin-right: 2rem; /* Add space between logo and links */
}

.navbar-logo img {
    height: 50px;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0; /* Remove any default margin */
}

.navbar-links li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.navbar-links li a:hover {
    color: #70aae8;
}
